<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid navbar-component">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-content" id="navbarTogglerDemo01">
            <div class="left-side">
                <img class="kodluyoruz-logo" routerLink="" src="https://cdn.sanity.io/images/9kdepi1d/production/65c832d202a503b15d99e628f4313782f3ef50db-300x62.png">
            </div>
            <div class="right-side">
                <ul class="flex list-style-none space-evenly">
                    <li class="nav-item "><a class="nav-link text-gray-500" routerLink="new">Yeni Hackathonlar</a></li>
                    <li class="nav-item"><a class="nav-link text-gray-500" routerLink="old">Eski Hackathonlar</a></li>
                    <li class="nav-item"><a class="nav-link text-gray-500" routerLink="sss">Sıkça Sorulan Sorular</a></li>
                    <li class="nav-item"><a class="nav-link text-gray-500" routerLink="about">Hakkında</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>