<h1> Login </h1>
<form action="/admin" method="POST">
<div>
<label for="email">Username</label>
<input
type="name"
name="uname"
placeholder="Enter Username"
/>
</div>
<div>
    <label for="password">Password</label>
    <input
      type="password"
      name="passw"
      placeholder="Enter Password"
    />
  
</div>
<button type="submit" class="btn btn-primary btn-block">Login</button>
   
</form>