<div class="detail-page">
    <div class="row">
      <div class="col-3">
        <h1>Front End Hackathonu <br>26 Aralık 2020</h1>
        <p>Yarışmacılar diledikleri teknolojileri kullanarak 10 saat boyunca kıyasıya ön arayüz projeleri geliştirdiler. Bu yarışın galibi arkadaşlarımızı kutluyor. Katılan herkesin kazandığını tekrar hatırlıyoruz <br>Desteklerini hep hissettiğimiz sponsorlarımıza ayrıca teşekkür ediyoruz!</p>
      <div class="sponsor">
          <h2>Sponsorlar</h2>
        <img class="img-fluid sponsor-image"
        src="https://cdn.discordapp.com/attachments/792335528644050944/792415981452001280/kablosuzbeyin_1000x.png"
        alt="sponsor image">
        <img class="img-fluid sponsor-image"
        src="https://cdn.discordapp.com/attachments/792335528644050944/792418363892301855/Kodluyoruz_Turuncu_logo_Yatay.png"
        alt="sponsor image">
        <img class="img-fluid sponsor-image"
        src="https://cdn.discordapp.com/attachments/792335528644050944/792418704381313044/logo-smile-slogansz.jpg"
        alt="sponsor image">
      </div>
    </div>
      <div class="col-9">
        <section id="team" class="pb-5">
            <div class="team-container">
                <h5 class="section-title h1">Kazananlar</h5>
                <div class="row">
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4 ikinci">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card ">
                                        <div class="card-body text-center">
                                            <p><img class="img-fluid"
                                                    src="https://cdn.discordapp.com/attachments/792335528644050944/792420282241515540/second.jpg"
                                                    alt="card image"></p>
                                            <h4 class="card-title">Hack360</h4>
                                            <p class="card-text">John Doe</p>
                                            <p class="card-text">Lina Eyi</p>
                                            <p class="card-text">Mark Cruy</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card ikinci">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Hack360</h4>
                                            <p class="card-text">Manisa Celal Bayar Üniversitesi Yazılım Mühendisliği 4. sınıf öğrencisi. Codeo şirketinde uzun dönem stajyer</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="https://github.com/hamdidamar/kodluyoruz-hackathon-web">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
        
        
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid"
                                                    src="https://cdn.discordapp.com/attachments/792335528644050944/792419543557079050/first.jpg"
                                                    alt="card image"></p>
                                            <h4 class="card-title">Kodcu Bebeler</h4>
                                            <p class="card-text">Hamdi Damar</p>
                                            <p class="card-text">Cihan Çifci</p>
                                            <p class="card-text">Alparslan Çay</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Kodcu Bebeler</h4>
                                            <p class="card-text">Manisa Celal Bayar Üniversitesi Yazılım Mühendisliği 4. sınıf öğrencileri tarafından geliştirilmiştir. Projenin açık kaynak kodları için Github adresini ziyaret edin.</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="https://github.com/hamdidamar/kodluyoruz-hackathon-web">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4 ucuncu">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid"
                                                    src="https://cdn.discordapp.com/attachments/792335528644050944/792420274842370068/third.jpg"
                                                    alt="card image"></p>
                                            <h4 class="card-title">KodDehası</h4>
                                            <p class="card-text">Mira Fury</p>
                                            <p class="card-text">Hayul Kloy</p>
                                            <p class="card-text">Murda Cex</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">KodDehası</h4>
                                            <p class="card-text">Manisa Celal Bayar Üniversitesi Yazılım Mühendisliği 4. sınıf öğrencisi.Software Arge şirketinde stajyer</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="https://github.com/hamdidamar/kodluyoruz-hackathon-web">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
        
                </div>
            </div>
        </section>
      </div>
      
    </div>
  </div>