.custom-shape-divider-bottom-1608997332 {
   bottom: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
}

.custom-shape-divider-bottom-1608997332 svg {
   position: relative;
   display: block;
   width: calc(100% + 1.3px);
   height: 161px;
   transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1608997332 .shape-fill {
   fill: #f4f4f4;
}