a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.kodluyoruz-turuncu-button{
background: #F78501;
border-radius: 66px;
color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}


.ml-1{
    margin-left: 5px;
}

.menuitem:hover{
    text-decoration:underline;
}