<div class="container">
    <div class="row">
        
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="https://i.hizliresim.com/RiO7bX.jpg" style="height: 200px; width: 300px;">
                <div class="card-block">
                    <h4 class="card-title">Front End Hackathon</h4>
                    <div class="card-text">
                        Yeni bir bakış açısı mı o zaman bu hackathona bir bakın. Yepyeni özellekleri keşfedin!
                    </div>
                </div>
                <div class="card-footer">
                    <span class="float-right"> <button [routerLink]="['id']"class="soft-button mini-button text-white gradient rounded-full btn-text-padding">İncele</button></span>
                    <span><i class=""></i>20 Aralık 2020</span>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="https://i.hizliresim.com/HbRRMN.jpg" style="height: 200px; width: 300px;">
                <div class="card-block">
                    <h4 class="card-title">Back End Hackathon</h4>
                    <div class="card-text">
                        Ne kahveler içildi bilemezsiniz. Kodların içinde yüzen yarışmacılar prensesi kurtardı.
                    </div>
                </div>
                <div class="card-footer">
                    <span class="float-right"> <button [routerLink]="['id']"class="soft-button mini-button text-white gradient rounded-full btn-text-padding">İncele</button></span>
                    <span><i class=""></i>6 Kasım 2020</span>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4fOkM_T7UZ29FZheCLdGqNH7nkNwj1lub2w&usqp=CAU"  style="height: 200px; width: 300px;">
                <div class="card-block">
                    <h4 class="card-title">ML&DL Hackathon</h4>
                    <div class="card-text">
                        Yapay zekanın adı yeniden koyuldu. Yarışmacılar harika projeler ortaya çıkardı.
                    </div>
                </div>
                <div class="card-footer">
                    <span class="float-right">
                        <button [routerLink]="['id']"class="soft-button mini-button text-white gradient rounded-full btn-text-padding">İncele</button></span>
                    <span><i class=""></i>26 Ekim 2020</span>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQclLqkpwYIPuvcgAnJSsYTmqiIdhsnnLEi3w&usqp=CAU" style="height: 200px; width: 300px;">
                <div class="card-block">
                    <h4 class="card-title">Veri Tabanı Hackathon</h4>
                    <div class="card-text">
                        25 Grubun katıldığı hackathonda çok güzel işler ortaya kondu.
                    </div>
                </div>
                <div class="card-footer">
                    <span class="float-right"> <button [routerLink]="['id']"class="soft-button mini-button text-white gradient rounded-full btn-text-padding">İncele</button></span>
                    <span><i class=""></i>20 Ekim 2020</span>
                </div>
            </div>
        </div>
        
        
    </div>
