<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
    <div class="container">

        <h2>Sıkça Sorulan Sorular </h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                            href="#collapse0" aria-expanded="true" aria-controls="collapse0" style="color: rgba(255, 138, 76, .9);">
                            Backend gibi herhangi bir teknoloji kullanabilir miyim?
                        </a>
                    </h3>
                </div>
                <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                    <div class="panel-body px-3 mb-4">
                        <p>Evet. Her bir takım için backend veya herhangi bir teknoloji kullanmaları tamamen serbest
                            olup puanlamada ek olarak avantaj sağlayacağından emin olabilirsiniz. Fakat backend veya web
                            frameworklerinin olmaması takımınızı bu etkinlikte elemez.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                            href="#collapse1" aria-expanded="true" aria-controls="collapse1" style="color: rgba(255, 138, 76, .9);">
                            Siteye yukarıda belirtilmeyen fakat eklenmesi gerektiğini düşündüğüm bazı detayları
                            ekleyebilir miyim?
                        </a>
                    </h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body px-3 mb-4">
                        <p>Tabii ki. Kodluyoruz Hackathon tamamen yeni fikirlere ve ayrıcalıklara özen gösteren ve
                            herkesin aklında olanları kodlara dökmek için tamamen serbest olduğu bir etkinliktir.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                            href="#collapse2" aria-expanded="true" aria-controls="collapse2" style="color: rgba(255, 138, 76, .9);">
                            Backend gibi herhangi bir teknoloji kullanabilir miyim?
                        </a>
                    </h3>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body px-3 mb-4">
                        <p>Evet. Her bir takım için backend veya herhangi bir teknoloji kullanmaları tamamen serbest
                            olup puanlamada ek olarak avantaj sağlayacağından emin olabilirsiniz. Fakat backend veya web
                            frameworklerinin olmaması takımınızı bu etkinlikte elemez.</p>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>